@import '../../style/variables.scss';
@import '../../style/style.scss';

.notations-panel {
    position: fixed;
    height: 100%;
    top: 0;
    left: -350px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: #7faaff;
    @include templateTransition(left);
    // background-color: #7faaffb3;
    border-radius: 0 50px 50px 0;
    z-index: 101;
    &__button {
        position: absolute;
        top: 104px;
        min-width: 40px;
        height: 40px;
        padding: 6px;
        @include templateFlex(center, center);
        font-size: 16px;
        font-weight: 600;
        color: $hoverColor;
        border-radius: 40% 50% 50% 0;
        background-color: $lightColor;
        @include templateTransition(background-color);
        cursor: pointer;
        &:hover {
            background-color: transparentize($lightColor, .2);
            color: transparentize($hoverColor, .2);
        }
    }
    &__card {
        @extend .main-card;
    }
}