@import '../../style/variables.scss';

.search__panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px 15px;
    background-color: $lightBlue;
    box-shadow: 1px 1px 4px 1px $mainColor;
    @include templateFlex(center, center);
    column-gap: 40px;
    &_button {
        min-width: 200px;
        min-height: 45px;
        @include templateFlex(center, center);
        color: $lightColor;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 5px;
        text-transform: uppercase;
        &:active {
            background-color: transparentize($hoverColor, .5);
        }
        &:focus {
            outline: none;
        }
    }
}