@import '../../style/variables.scss';

.test {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 1001;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($blackColor, .5);
    z-index: 100;
}