@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Oswald:wght@400;500;600&display=swap');

body {
    width: 100%;
    // background-color: $lightBlue;
    font-family: 'Open Sans', sans-serif;
    color: $mainColor;
    // background-color: #dfdfdf;
    background-color: transparentize(blue, 0.6);
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparentize($mainColor, 0.4);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: transparentize($lightBlue, .4);
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}

::-webkit-scrollbar:horizontal{
    display: none;
}

::-webkit-scrollbar-corner {
    // width: 0;
}

.button {
    background-color: #df6d6d;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease;
    &:hover {
        background-color: $hoverColor;
    }
}

.search__panel_wrapper {
    position: fixed;
    top: 0;
    right: 50%;
    width: 100%;
    transform: translateX(50%);
    padding: 40px 0;
    background-color: $lightBlue;
    box-shadow: 1px 1px 4px 1px $mainColor;
    @include templateFlex(flex, center, center);
    column-gap: 40px;
    z-index: 99;
}

.search__panel {
    width: 900px;
    &_button {
        min-width: 200px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $lightColor;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 5px;
        text-transform: uppercase;
        position: relative;

        &:active {
            top: 1px;
            background-color: transparentize($hoverColor, 0.5);
        }

        &:focus {
            outline: none;
        }
    }

}

.long__template {
    color: #df6d6d;
}

.input__wrapper {
    max-width: 350px;
    width: 100%;
    display: flex;
}

.panel__input {
    max-width: 300px;
    width: 100%;
    padding: 12px 12px 12px 60px;
    color: $blackColor;
    background-color: $lightColor;
    border-radius: 5px;
    border: none;
    transition: all .3s ease;

    &:focus {
        box-shadow: 0px 4px 6px 3px #2d53db1a;
        background-color: #e5f1f8e6;
        border: none;
        outline: none;
    }

    &:hover {
        background-color: transparentize(#e5f1f8e6, 0.11);
    }

    &_button {
        width: 30px;
        border-radius: 0 5px 5px 0;
        background: #df6d6d url(../assets/closeIcon.svg) center center / 30px 30px no-repeat;
    }
}

.input__active {
    border-radius: 5px 0 0 5px;
}

.input__search  {
    background: $lightColor url(../assets/searchIcon.svg) 10px center / 20px 20px no-repeat;
}

.input__user  {
    background: $lightColor url(../assets/userIcon.svg) 10px center / 20px 20px no-repeat;
}

.cards__row {
    margin-top: 150px;
    padding: 0 20px;
    @include templateFlex(flex, flex-start, flex-start);
    gap: 25px;
}

.card__wrapper {
    // height: 100vh;
    padding-bottom: 20px;
    background-color: transparentize($lightColor, 0.6);
    border-radius: 10px;

    .cards__header {
        padding: 20px 5px 40px;
        border-radius: 5px 5px 0 0;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
    }

    .cards__list {
        padding: 0 20px;
        height: 63vh;
        @include templateFlex(flex, flex-start, center);
        flex-direction: column;
        row-gap: 10px;
        overflow-y: auto;
        word-wrap: break-word;
        border-radius: 10px;
    
        .card {
            width: 320px;
            padding: 10px;
            border-radius: 5px;
            background-color: transparentize($lightColor, 0.2);
            box-shadow:  0 2px 3px $lightBlue, 0 0 4px $mainColor;
            @include templateTransition(background-color);
            cursor: pointer;
    
            &:hover {
                background-color: transparentize($lightColor, 0.05)
            }
    
            &:active {
                background-color: transparentize($lightColor, 0.2);
                box-shadow: 0px 4px 6px 3px #2d53db1a;
            }
    
            span {
                display: block;
                max-width: 80px;
                margin-left: auto;
                font-style: italic;
            }
        }
    }
}

@media(max-width: 900px){
    .search__panel_wrapper {
        flex-direction: column;
        row-gap: 20px;
        padding: 10px 0;
    }

    .cards__row {
        align-items: center;
        flex-direction: column;
    }
}