@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Oswald:wght@400;500;600&display=swap');

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: $mainColor;
    background-color: #7faaffb3;
    // background-color: transparentize(blue, 0.6);
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparentize($mainColor, 0.4);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: transparentize($lightBlue, .4);
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}

::-webkit-scrollbar:horizontal{
    display: none;
}

.button {
    background-color: #df6d6d;
    border: none;
    cursor: pointer;
    @include templateTransition(background-color);
    &:hover {
        background-color: $hoverColor;
    }
}

.cards__row {
    margin-top: 150px;
    padding: 0 20px;
    @include templateFlex(flex-start, flex-start);
    gap: 25px;
}

@media(max-width: 900px){
    .search__panel_wrapper {
        flex-direction: column;
        row-gap: 20px;
        padding: 10px 0;
    }
    .cards__row {
        align-items: center;
        flex-direction: column;
    }
}

@media(min-width: 2000px) {
    .cards__row {
        justify-content: center;
    }
}
