$lightBlue: #cadae4;
$lightColor: #fff;
$mainColor: #878787;
$blackColor:#000;
$hoverColor: #eb4242;

@mixin templateFlex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin templateTransition($animate) {
    transition: $animate .3s ease;
}

.long__template {
    color: #df6d6d;
};

.overlay {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: transparentize($blackColor, .4);
    z-index: 120;
    &__light {
        @extend .overlay;
        opacity: 0;
    }
}