@import '../../style/variables.scss';

.select__row {
    max-width: 150px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    background-color: $lightColor;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    &_header {
        padding: 10px;
        @include templateTransition(all);
        &:hover {
            border-radius: 5px 5px 0 0;
            background-color: transparentize($hoverColor, .8);
        }
        h3 {
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }
    }
    li:last-child {
        border-radius: 0 0 5px 5px;
    }
    li {
        display: block;
        padding: 10px;
        cursor: pointer;
        @include templateTransition(all);
    }
    li:hover {
        color: $lightColor;
        background-color: #df6d6d;
    }
    &_list {
        position: absolute;
        max-width: 150px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        background-color: $lightColor;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid transparentize($hoverColor, .4);
        z-index: 2;
        @include templateTransition(all);
        &-enter {
            opacity: 0;
            transform: scale(0.9);
        }
        &-enter-active {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 500ms, transform 500ms;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 500ms, transform 500ms;
        }
    }
    &_window {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparentize($blackColor, 1);
        z-index: 1;
    }
}